/*
Authors: Sam Osheroff and Tamasha Pathirathna
Date: 27/09/2018
*/

/*begin lines for alternate displays*/

/*The classes below are used to edit content for display on tablets and phones.*/
    @media only screen and (max-width:600px) { 
        .notforphone {display:none}
        h2.top {font-size:18px}
        div.toptablet{align-items:center;
        justify-content: center;
        display:flex;}
    }

    @media only screen and (max-width:768px) and (min-width:601px) { 
        .notfortablet {display:none}
    }

    @media only screen and (min-width:769px) { 
        .notforcomp {display:none}
    }


    br{
        margin-top:15px;
    }

    input{
        width: 100%;
        border: none;
    }

.prefbox{
    display:flex;
}

/*CSS for modal restaurant popup boxes, adapted from w3schools.com*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    opacity:inherit;
}

.close:hover{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {padding: 2px 16px 16px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
    float:inherit;
}















/*succeeding classes add structure and style for the tablet version of the webpage*/
    div.toptablet {
        overflow: auto;
        background-color:#e6f9ff;
        border: 3px solid #404040;
        border-radius:5px;
        left: 0;
        margin: 5px 1% 0 1%;
        padding: 5px 0 0 0;
        width: 98%;
        height:60px;
        
}

    div.optionstablet{
        align-items: center;
        width: 98%;
        border: 2px solid #404040;
        border-radius:5px;
        background-color: #f4f4f4;
        padding: 0 5px 0 5px;
        margin: 8px 7px 10px 7px;
        overflow:hidden;
        float:auto;
    }

    div.pagestablet{
        width: 100%;
        background-color: inherit;
        padding: 0 5px 0 5px;
        margin: 0
        overflow:hidden;
       float:auto;
        
    } 

    div.middletablet{
        width: 99%;
      border: 2px solid #404040;
        border-radius:5px;
        background-color: #e6f9ff;
        padding: 20px 20px 20px 20px;
        margin: 10px 1.5% 10px .5%;
        overflow:hidden;
    }

    h1.lefttablet{
        font-size: 28px;
        margin: 10px 0 5px 3px    
    }


    a.pagestablet{
        font-size:18px;
        margin: 0 5px 0 10px;
    }

/*the succeeding 4 classes add structure for phone version*/
    div.bottomphone{
        width: 100%;
        background-color: inherit;
        padding: 0;
        margin: 0;
        overflow:hidden;
       float:auto; 
        display:flex;
}
    div.bottomicon{
        width:33%;
        text-align:center;
}

    .transparent{
        opacity:.5;
}

    span.bottomicon{
        font-size:50px;
        display:inline-block;
        float:auto;
}

/*alternate display lines stop here*/

body{
    background-color:#d9f2e6;
}    
br{display:block;
        content:"";
        margin-top:20px;
}

ul{
        list-style: none;
}

ul.modalList{
    list-style:disc;
    margin: 15px 0 0 0;
    overflow: auto;
    float:inherit;
    padding: 0 0 0 25px
}
a.sitelink{
     text-decoration:underline;
}
img.spaced{
    padding: 0 0 0 0
}

    div.circles{
    border-radius:50%px;
}

    div.middle {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        background-color: inherit;

}

    div.middleRegister, div.middleOptions, div.middleLogin{
        width: 98%;
        padding: 20px 20px 20px 20px;
        margin: 10px 1% 10px 1%;
        overflow:hidden;
        float:left;
        background-color:#e6f9ff;
        border: 3px solid #404040;
        border-radius:5px;
        border-style:groove;
    }
    div.left {
        width: 31.5%;
        padding: 20px 20px 20px 20px;
        margin: 10px .5% 10px 1%;
        overflow:hidden;
        float:left;
        background-color:#e6f9ff;
        border: 3px solid #404040;
        border-radius:5px;
        border-style:groove;
 
}
    div.topright{
        align-items: center;
        width: auto;
        border: 2px solid #404040;
        border-radius:5px;
        background-color: white;
        padding: 0 5px 0 5px;
        margin: 8px 10px 10px 0;
        overflow:hidden;
        float:right;
}

    .clearfix{
        clear:both;
        line-height:0;
}

/*the succeeding classes add style and structure for the main page*/
    div.top {
        overflow: auto;
        background-color:#e6f9ff;
        border: 3px solid #404040;
        border-radius:5px;
        left: 0;
        margin: 5px 1% 0 1%;
        padding: 5px 0 0 0;
        width: 98%;
        height:60px;
        
}
    div.right {
	   width: 66%;
        background-color:#e6f9ff;
        border: 3px solid #404040;
        border-radius:5px;
        padding: 20px 20px 20px 20px;
        margin: 10px 1% 10px .5%;
        overflow:hidden;
}
    div.footer{
        background-color:#e6f9ff;
        border: 3px solid #404040;
        border-radius:5px;
        padding: 10px;
        left: 0;
        margin: 10px 1% 0 1%;
        width: 98%;
        height: 40px; 
}

    div.opinions{
        width: 100%;
        height: 35%;
        border: 1px solid black;
        background-color: white;
        padding: 20px;
        margin: 10px 1% 10px .5%;
        overflow:hidden;
        float:left; 
}

    div.plus {
        float:right;
    }

    div.prefbox{
        background-color: white;
        float:left;
        border: 2px solid black;
        padding: 7px 5px 7px 5px;
        margin: 5px 5px 5px 5px;
        border-radius:5px
}

/*within the main page, the next 3 classes adjust format for images*/

    img.mainicon{
        margin-right: 15px;
        float: left;
}

    img.icon{ 
        margin: 0 5px 20px 20px;
}

    img.leftone {
        margin: 0 20px 5px 2px;
        border: 1px solid black
}
    a{
        color: black;
}

    h1.left {
        font-size: 28px;
        margin: 0 0 15px 0
}

    h2.top{
        width:auto;
        margin: 0 0 0 0;
        padding:0;
        display:inline-flex;
        float:left;
        line-height:40px;
}
    h2.leftone {
        font-size: 16px;
        margin: 10px 0 10px 0; 
}

    h2.lefttwo {
        font-size: 16px;
        margin: 25px 0 10px 0; 
}
    h1.opinions{
        font-size: 20px;
        float: right;
        text-align: left;  
    }

    p.leftone {
        margin: 0  5px  0 10px;
        font-size: 12px
}
    p span.right{
        border-right:2px solid black;
}
    hr.left {
        size: 1px;
        margin-left: auto;
        margin-right: auto;
        border-width: 1px;
        border-style: groove;
        border-color: black;
        margin-top: 30px;
        margin-bottom: 20px;
        border-radius:5px
}
    ul.left{
        list-style-type: none;
        margin:0;
        padding: 0 0 0 15px;
}
x
li{
        font-size: 14px;
        padding: 0 0 2.5px 0
}

    .hyper{
        font-size: 15px;
        padding: 4px 0 4px 0
}

    .beta{
        font-size: 13px;
        padding: 2.5px 0 2.5px 0;
}
    .hyper2{
        font-size: 18px;
        padding: 0 0 0 0;
}
    .hyperFooter{
        font-size: 13px;
        padding: 4px;
    }

/*adding style and structure for the personal information page*/
 [class*="col-"] {
            padding: 1px;
            z-index: 1;
    
}
    .menu li {
        margin-bottom: 7px;
        background-color: white;
        color: 1px black;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

    .menu li:hover {
        background-color: lightgrey;
    
}

    .menu li.structure{
        display:inline-block;
        vertical-align: top;
        width: 49.7%;
        float: left;
}

    .inline{
        float: right;
}

.glyphicon-remove{
    padding: 1px 0 0 2px
}

.newpref{
    min-width:50px;
    max-width:100px;
    text-align:center;
}


    div.circles{
        position: static;
        float: left;
        padding: 5px;
        text-align: center;
        margin-right: 5px;
        border-radius: 50%;
        border: 2px solid black;
        width: 100px;
        height: 100px;
        background-color: white;
        margin-bottom: 5px;
}

    h1.circles{
        font-size: 17px;
}
/*end main webpage style classes*/
    div.inner{
        position: absolute;
        top: 0;
        left: 0;
}

    p.rest{
        margin-left: 0;
}

    #save, #delete, #login, #register, #submit {
        font-size: 20px;
        margin-top: 15px;
        background: #588BAE;
        border: 1px solid #588BAE;
        padding: 7px 7px;
        color: white;
        font-weight: bold;
        cursor: pointer;
        width: 100%;
    }

    #save:hover, #delete:hover, #login:hover, #register:hover, #submit:hover{
        background: #4F97a3;
    }


