/*begin lines for alternate displays*/
@media only screen and (max-width:600px) { 
.notforphone {display:none}
}
@media only screen and (max-width:800px) { 
.notfortablet {display:none}
}
@media only screen and (min-width:800px) { 
.notforcomp {display:none}
}
div.toptablet{
 overflow: auto;

    border: 1px solid black;
    background-color: lightgrey;
    left: 0;
/*    z-index: 999;*/
    margin: 5px 8px 0 5px;
    padding: 5px 0 0 0;
    width: 98%;
height:60px;   
}
div.optionstablet{


    align-items: center;
    width: auto;
    border: 1px solid black;
    background-color: white;
    padding: 0 5px 0 5px;
    margin: 5px 8px 0 5px;
    overflow:hidden;
       float:auto;
}
div.pagestablet{
   
    align-items: center;
    width: auto;
    background-color: white;
    padding: 0 5px 0 5px;
    margin: 0px 8px 0px 5px;
    overflow:hidden;
       float:auto;
} 
div.middletablet{
    width: 99%;
    border: 1px solid black;
    background-color: lightgrey;
    padding: 20px 20px 20px 20px;
    margin: 10px 1% 10px .5%;
    overflow:hidden;
}


h1.lefttablet{
 font-size: 28px;
margin: 10px 0 5px 0   
    
}
a.pagestablet{
    font-size:18px;
    margin: 0 5px 0 10px;
}


/*alternate display lines stop here*/

ul{
        list-style: none;
    }
div.circles{
    border-radius:50%px;
}

    div.middle {
        display: flex;
        flex-wrap: nowrap;
        overflow: hidden;
        background-color: #f2f2f2;
    }
    div.left {
        width: 31.5%;
        border: 1px solid black;
        background-color: lightgrey;
        padding: 20px 20px 20px 20px;
        margin: 10px .5% 10px 1%;
        overflow:hidden;
        float:left;
    }
    div.topright{


    align-items: center;
    width: auto;
    border: 1px solid black;
    background-color: white;
    padding: 0 5px 0 5px;
    margin: 10px 10px 10px 0;
    overflow:hidden;
        float:right;
    }

.clearfix{clear:both;
line-height:0;}
div.top {
overflow: auto;

    border: 1px solid black;
    background-color: lightgrey;
    left: 0;
/*    z-index: 999;*/
    margin: 5px 8px 0 5px;
    padding: 5px 0 0 0;
    width: 98%;
height:60px;
    }
div.right {
	width: 64%;
    border: 1px solid black;
    background-color: lightgrey;
    padding: 20px 20px 20px 20px;
    margin: 10px 1% 10px .5%;
    overflow:hidden;
/*    float:left;*/
}
div.footer{
        border: 1px solid black;
        padding: 10px;
        background-color: lightgrey;
        left: 0;
/*        z-index: 999;*/
        margin: 10px 8px 0 5px;
        width: 98%;
        height: 40px; 
    }
div.opinions{
    width: 100%;
    height: 30%;
    border: 1px solid black;
    background-color: white;
    padding: 20px;
    margin: 10px 1% 10px .5%;
    overflow:hidden;
    float:left; 
    }
div.plus {
float:right;
}
div.prefbox{
background-color: #f2f2f2f2;
float:left;
border: 2px solid black;
padding: 7px 5px 7px 5px;
margin: 5px 5px 5px 5px;
border-radius:5px

}
img.mainicon{
        margin-right: 15px;
        float: left;
    }
img.icon{
    
    margin: 0 5px 20px 20px;
}
img.leftone {
margin: 0 20px 5px 2px;
border: 1px solid black
}
    a{
        color: black;
    }
    ]
h1.left {
font-size: 28px;
margin: 0 0 15px 0
}
h2.top{
    width:auto;
    margin: 5px 0 0 0;
    padding:0;
display:inline-flex;
    float:left;
    line-height:40px;
}
h2.leftone {
font-size: 16px;
margin: 10px 0 10px 0; 
}
h2.lefttwo {
font-size: 16px;
margin: 25px 0 10px 0; 
}
    h1.opinions{
        font-size: 20px;
        float: right;
        text-align: left;
        
    }

p.leftone {
margin: 0  5px  0 10px;
font-size: 12px
}
p span.right{
    border-right:2px solid blue;
}
hr.left {
size: 1px;
 margin-left: auto;
    margin-right: auto;
       border-width: 1px;
       border-style: groove;
       border-color: black;
       margin-top: 30px;
       margin-bottom: 20px;
       border-radius:5px
}
ul.left
{
list-style-type: none;
margin:0;
padding: 0 0 0 15px;
}
li
{
font-size: 14px;
padding: 2.5px 0 0 2.5px
}
.hyper
{font-size: 15px;
padding: 4px 0 4px 0}
.beta
{font-size: 13px;
padding: 2.5px 0 2.5px 0}
    .hyper2{
        font-size: 18px;
        padding: 0 0 0 0;
    }
    .hyperFooter{
        font-size: 13px;
        padding: 4px;
    }

 [class*="col-"] {
            padding: 1px;
            z-index: 1;
    
}
.menu li {
    margin-bottom: 7px;
    background-color: white;
    color: 1px black;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu li:hover {
    background-color: lightgrey;
}

.menu li.structure{
        display:inline-block;
        vertical-align: top;
        width: 49.7%;
    }

.inline{
    float: right;
        }
div.circles{
        position: static;
        float: left;
        padding-top: 10px;
        text-align: center;
        margin-right: 5px;
        border-radius: 50%;
        border: 1px solid black;
        width: 100px;
        height: 100px;
        background-color: white;
        }
        h1.circles{
            font-size: 17px;
        }
        div.inner{
            position: absolute;
            top: 0;
            left: 0;
        }